<% if object.errors.any? %>
    <div class="alert alert-danger">
        This for contains errors.
    </div>
    <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>